<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-dialog" version="1.1.0">
    <name>DialogPlugin</name>
    <description>Description</description>
    <js-module name="CustomDialog" src="www/dialog.js">
        <clobbers target="alertDialog"/>
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CustomDialog">
				<param name="android-package" value="org.apache.cordova.dialog.CustomDialog"/>
			</feature>
        </config-file>
        <source-file src="src/android/CustomDialog.java" target-dir="src/org/apache/cordova/dialog"/>
    </platform>
</plugin>